<template>
  <v-card
    flat
    color="transparent"
    tag="section"
    @dragover.prevent="dropping = $event"
    @dragleave.prevent="dropping = $event"
    @drop.prevent="dropping = $event">
    <!-- input -->
    <input
      type="file"
      multiple
      v-show="false"
      ref="input"
      accept="image/png,image/jpeg,image/gif"
      @change.prevent="inputFiles($event)">

    <slot name="heading" />

    <slot name="sub-heading" />

    <draggable
      :options="{
        handle:'.drag-handle'
      }"
      v-model="images"
      @start="draggableFlag = true"
      @end="draggableFlag = false"
      @change="elementsChanged"
      @add="elementsChanged">
      <v-card
        color="transparent"
        width="100%"
        v-for="(el, i) in images"
        :key="i"
        flat
        tile>
        <slot v-bind="{ uploadTo, i, el }" />
      </v-card>
    </draggable>

    <!-- drag and drop 喚起 -->
    <v-layout
      v-show="dropping"
      column
      align-center
      justify-center
      style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.8)">
      <v-flex class="white--text">ここに素材をドロップしてください。</v-flex>
    </v-layout>
  </v-card>
</template>

<script src="./class"></script>