<template>
  <div ref="wrapper">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="742 387 125 165">
      <g data-item-type="text" data-item="Business" id="logo__item--business" class="logo__item" v-if="withText">
            <g class="logo__item__inner" transform="translate(765.484375 549.5878305625015) scale(1 1) rotate(0 0 0)">
                <text
                  data-part-id="logo__item--business"
                  dy="0"
                  dominant-baseline="auto"
                  alignment-baseline="auto"
                  font-family="Montserrat"
                  font-size="32px"
                  fill="#FFC52A"
                  letter-spacing="0"
                  font-weight="bold"
                  font-style="normal"
                  data-font-family="Montserrat"
                  data-font-weight="bold"
                  data-font-style="normal"
                  data-ttf-url="/builder_assets/fontsttf/font-montserrat-bold-normal.ttf"
                  data-font-filename="montserrat-bold-normal"
                >Leed</text>
            </g>
      </g>
      <g data-item-type="image" data-item="Image" data-logo-item="" id="logo__item--logo_0" class="logo__item">
        <g class="logo__item__inner" transform="translate(730.1013526967008 376.5) scale(1.0135134351436432 1.0135134351436432) rotate(0 0 0)">
          <g>
          	<g>
          		<path fill="#140254" d="M14.7,58.4L39.2,66l1.1,64.7l-24.5-7.6L14.7,58.4z" data-part-id="logo__item--logo_0__0"></path>
          	</g>
          	<g>
          		<path fill="#9E8540" d="M88.6,14L81,38.5l-64.7,1.1l7.6-24.5L88.6,14z" data-part-id="logo__item--logo_0__1"></path>
          	</g>
          	<g>
          		<path fill="#FFC52A" d="M133.1,87.9l-24.5-7.6l-1.1-64.7l24.5,7.6L133.1,87.9z" data-part-id="logo__item--logo_0__2"></path>
          	</g>
          	<g>
          		<path fill="#FFEBB5" d="M59.2,132.3l7.6-24.5l64.7-1.1l-7.6,24.5L59.2,132.3z" data-part-id="logo__item--logo_0__3"></path>
          	</g>
          </g>
        </g>
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  props: {
    withText: {
      type: Boolean,
      default: false
    },
    width: {
      type: [Number, String],
      default: 32
    }
  },
  mounted () {
    const el = this.$refs.wrapper
    const width = this.width.indexOf('%') !== -1 ? this.width : `${this.width}px`
    el.style.cssText = `width: ${width}`
  }
}
</script>