<template>
  <section ref="wrapper">
    <v-parallax :src="blok.image || 'https://vuetifyjs.com/themes/parallax-starter/assets/hero.jpeg'" height="500" :alt="blok.image_alt">
      <v-layout
        column
        align-center
        justify-center
        class="white--text"
      >
        <logo width="64" />
        <h1 class="white--text mb-2 display-1 text-xs-center">{{ blok.headline }}</h1>
        <div class="subheading mb-3 text-xs-center">{{ blok.description }}</div>
        <v-btn
          class="primary mt-2"
          dark
          large
          v-if="blok.toText && blok.to"
          :to="blok.to.url"
          nuxt
        >{{ blok.toText }}</v-btn>
      </v-layout>
    </v-parallax>
  </section>
</template>

<script src="./class"></script>
