<template>
  <v-layout row class="mt-5">
    <v-flex
      xs12
      sm10
      offset-sm1
      md8
      offset-md2>
      <v-stepper
        alt-labels
        v-model="currentStep"
        class="elevation-0"
        style="background: transparent"
      ><v-stepper-header class="elevation-0">
          <template v-for="n in stepLen">
            <v-stepper-step
              :complete="n < currentStep"
              :key="`${n}-step`"
              :step="n"
              :editable="n < currentStep && steps[n-1].editable"
            >{{ steps[n-1].text }}
            </v-stepper-step>
  
            <v-divider
              v-if="n !== stepLen"
              :key="`${n}-divider`"
            />
          </template>
        </v-stepper-header>
        
        <v-stepper-items>

          <v-stepper-content
            v-for="n in stepLen"
            :key="`${n}-content`"
            :step="n"
          ><no-ssr>
            <component
              :is="steps[n-1].component"
              :material.sync="content"
              :next.sync="stepFlag"
              :isReady="isReady"
            />
          </no-ssr>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-flex>
    
    <!------------------------
    !
    ! ・テンプレート一覧
    ! ・画像/動画のアップロード
    ! ・プレビュー表示
    !
    --------------------------->
  </v-layout>
</template>

<script src="./index"></script>