<template>
  <v-card>
    <v-card-text v-if="preview" class="text-xs-center">
      <video :src="preview" controls style="max-width: 100%"></video>
    </v-card-text>
    <v-card-text v-else-if="isReady">
      <p v-html="message" class="text-xs-center" />
      <v-progress-linear :indeterminate="!progress" :value="progress" />
    </v-card-text>
    <v-card-text v-else>
      <v-alert type="warning" :value="true">素材をアップロードするとここでプレビューの作成が開始されます。</v-alert>
    </v-card-text>
  </v-card>
</template>

<script src="./js/Preview" />