<template>
  <v-layout row wrap>
    <v-flex
      v-if="!material.template"
      class="mb-3"
      xs12>
      <v-alert v-bind="notice">{{ notice.msg }}</v-alert>
    </v-flex>
    <v-flex
      v-for="(story, i) in stories"
      :key="i"
      xs6
      sm4
      md3>
      <v-card
        flat
        tile
        tag="label"
        class="px-1 py-1"
        :style="'cursor:pointer' + (i === selected ? ';border: 3px solid ' + $vuetify.theme.primary : '')"
        :for="`radio-${i+1}`">
        <input
          :id="`radio-${i+1}`"
          type="radio"
          name="template"
          @change="updateSelected(i, $event)"
          v-show="false">
          <v-img
            :aspect-ratio="1/1"
            :src="story.content.demo || `https://unsplash.it/150/300?image=${Math.floor(Math.random() * 100) + 1}`">
            <v-layout row justify-space-between>
              <v-btn
                icon
                small
                @click="updateSelected(i)">
                <v-icon :color="story === material.template ? 'primary' : 'grey'">check_circle</v-icon>
              </v-btn>
  
            </v-layout>
          </v-img>
        <v-card-title><h3 class="mx-auto">{{ story.name }}</h3></v-card-title>
        <v-card-text v-if="story.content.tags.tags.length > 0">
          <v-chip v-for="(tag, i) in story.content.tags.tags" :key="story.uuid + i">{{ tag }}</v-chip>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex v-if="loading" x12>
      <v-btn loading flat block />
    </v-flex>
  </v-layout>
</template>

<script src="./js/SelectTemplate" />