<template>
  <!------------------------
  !
  ! ・画像アップローダー
  ! ・スクロールなしで見やすく
  !
  --------------------------->
  <v-card
    tag="section"
    @dragover.prevent="dropping = $event"
    @dragleave.prevent="dropping = $event"
    @drop.prevent="dropping = $event">
    <!------------------------
    !
    ! ・アップロード用<input>
    ! ・内部で操作するため、ユーザーには非表示
    !
    --------------------------->
    <input
      type="file"
      multiple
      v-show="false"
      ref="input"
      accept="image/png,image/jpeg,image/gif"
      @change.prevent="inputFiles($event)">

    <!------------------------
    !
    ! ・ヘッダー
    ! ・使用しているテンプレート名
    ! ・確定してプレビュー生成（エラーチェックが必要）
    !
    --------------------------->
    <v-toolbar color="transparent" class="elevation-0">
      <v-spacer />
      <v-tooltip v-model="tooltipFlag" top>
        <v-btn slot="activator" icon :ripple="false">
          <v-icon>help_outline</v-icon>
        </v-btn>
        <span>ヘルプを表示</span>
      </v-tooltip>
    </v-toolbar>
    
    <!------------------------
    !
    ! ・画像/動画一覧
    ! ・D&Dでも追加可能
    !
    --------------------------->
    <v-card-text class="py-0">
      <draggable
        :options="{ handle:'.drag-handle' }"
        v-model="material.images"
        @start="draggableFlag = true"
        @end="draggableFlag = false"
        @change="elementsChanged">
        <v-layout
          v-for="(el, i) in material.images"
          :key="i"
          row
          fill-height
          :class="'mb-' + (material.images.length - 1 === i ? 0 : 3) +
            ' pb-' + (material.images.length - 1 === i ? 0 : 3)"
          :style="material.images.length - 1 === i ? '' : 'border-bottom: thin solid #CCC'">
          <v-flex
            sm1
            class="text-xs-center my-auto"
            v-if="$vuetify.breakpoint.smAndUp">
              <v-tooltip :value="tooltipFlag" top>
                <v-btn
                  slot="activator"
                  class="drag-handle"
                  icon>
                  <v-icon>low_priority</v-icon>
                </v-btn>
                <span>ドラックで順番を変えます。</span>
              </v-tooltip>
          </v-flex>
          <v-flex
            :key="'left-' + i"
            xs12
            sm5>
            <!------------------------
            !
            ! ・テンプレート一覧
            ! ・画像/動画のアップロード
            ! ・プレビュー表示
            !
            --------------------------->
            <v-hover>
              <v-card
                slot-scope="{ hover }"
                color="grey lighten-4">
                <v-card-text
                  v-if="typeof el.src === 'number'"
                  class="text-xs-center">
                  <v-progress-circular
                    color="primary"
                    :size="120"
                    :width="5"
                    :indeterminate="el.src === -1"
                    :value="el.src">
                    {{ el.src === -1 ? '順番待ち' : (el.src + '%') }}
                  </v-progress-circular>
                </v-card-text>
                <v-img
                  :aspect-ratio="16/9"
                  v-else
                  :src="el.src || '/noimage.jpg'">
                  <v-expand-transition>
                    <div
                      v-if="hover"
                      class="d-flex transition-fast-in-fast-out accent darken-2 v-card--reveal white--text text-xs-center"
                      style="height: 100%; font-size: 16px">
                      <div>
                        <p class="mb-0">
                          ドラッグ＆ドロップ<br>または<br>
                          <v-tooltip :value="tooltipFlag" bottom>
                            <v-btn
                              slot="activator"
                              @click="uploadTo(i)">
                              <v-icon left>add_a_photo</v-icon>ファイルから選択
                            </v-btn>
                            <span>画像をアップロードします。</span>
                          </v-tooltip>
                        </p>
                      </div>
                    </div>
                  </v-expand-transition>
                </v-img>
                <v-card-actions v-if="$vuetify.breakpoint.xs">
                  <v-tooltip :value="tooltipFlag" top>
                    <v-btn
                      slot="activator"
                      class="drag-handle"
                      icon>
                      <v-icon>low_priority</v-icon>
                    </v-btn>
                    <span>ドラックで順番を変えます。</span>
                  </v-tooltip>
                  <v-tooltip :value="tooltipFlag" bottom>
                    <v-btn
                      slot="activator"
                      @click="inputIndex = i"
                      icon>
                      <v-icon>text_fields</v-icon>
                    </v-btn>
                    <span>テロップを編集します。</span>
                  </v-tooltip>
                </v-card-actions>
              </v-card>
            </v-hover>
          </v-flex>
          <!------------------------
          !
          ! ・PCサイズテロップエリア
          !
          --------------------------->
          <v-flex
            xs12
            sm6
            v-if="$vuetify.breakpoint.smAndUp">
            <v-card flat>
              <v-card-text class="py-0">
                <v-textarea
                  v-model="el.text"
                  label="テロップ"
                  rows="3"
                  outline
                  :rules="inputRules"
                  @blur="inputDialog = i"
                  hint="1行あたり15文字まで。最大で3行入力できます。"/>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </draggable>
    </v-card-text>

    <!------------------------
    !
    ! ・ドラッグ＆ドロップで表示する
    !
    --------------------------->
    <v-layout
      id="dd"
      v-if="dropping"
      column
      align-center
      justify-center>
      <v-flex class="display-1 white--text text-xs-center">
        ここに素材を<br>ドロップしてください。
      </v-flex>
    </v-layout>
    <!------------------------
    !
    ! ・テキスト入力ダイアログ(sp)
    !
    --------------------------->
    <v-dialog
      v-model="inputDialog"
      max-width="300"
    >
      <v-card>
        <v-card-title class="headline">テロップを設定</v-card-title>

        <v-card-text>
          <v-textarea
            v-model="inputText"
            label="テロップ"
            rows="3"
            outline
            :rules="inputRules"
            hint="1行あたり15文字まで。最大で3行入力できます。"/>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            flat="flat"
            @click="inputDialog = false">
            キャンセル
          </v-btn>

          <v-btn
            color="primary"
            @click="inputDialog = inputIndex">
            確定
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!------------------------
    !
    ! 次のステップへ
    !
    --------------------------->
    <v-card-actions>
      <v-spacer></v-spacer>

      <v-tooltip :value="tooltipFlag" top>
        <v-btn
          slot="activator"
          :disabled="!isReady"
          color="primary"
          @click="$emit('update:next', true)">
          <v-icon left>check</v-icon>プレビューを作成
        </v-btn>
        <span>{{ isReady ? 'クリックしてプレビューの作成を開始します。': '画像を全て埋めると、クリックできます。' }}</span>
      </v-tooltip>
    </v-card-actions>
  </v-card>
</template>

<style>
#dd {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.8)
}

#dd .flex {
  flex: 0;
}
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}
</style>

<script src="./js/UploadImages" />
