<template>
  <v-flex v-bind="flex">
    <v-card class="elevation-0 transparent"
      <v-card-text class="text-xs-center">
        <v-icon x-large class="primary--text">{{ blok.icon }}</v-icon>
      </v-card-text>
      <v-card-title class="layout justify-center">
        <div class="headline text-xs-center">{{ blok.name }}</div>
      </v-card-title>
      <v-card-text>{{ blok.description }}</v-card-text>
    </v-card>
  </v-flex>
</template>

<script src="./class"></script>
