<template>
  <v-card
    flat
    color="transparent"
    tag="section">
    <v-card-title v-show="false"><h2 class="mx-auto">テンプレートを選択</h2></v-card-title>
    <v-container grid-list-md fluid>
      <v-layout row wrap>
        <v-flex
          v-for="(story, i) in stories"
          :key="i"
          xs4
          sm3
          md2
        >
          <v-card flat tile tag="label" :for="`radio-${i+1}`">
            <input
              :id="`radio-${i+1}`"
              type="radio"
              name="template"
              @change="updateSelected(i)"
              v-show="false">
            <v-card-media
              :src="story.content.demo || `https://unsplash.it/150/300?image=${Math.floor(Math.random() * 100) + 1}`"
              height="150px">
              <v-layout row justify-space-between>
                <v-btn
                  icon
                  small
                >
                  <v-icon :color="story === $props.selected ? 'primary' : 'grey'">check_circle</v-icon>
                </v-btn>

                <v-btn
                  icon
                  small
                >
                  <v-icon color="info">info</v-icon>
                </v-btn>

              </v-layout>
            </v-card-media>
            <v-card-title><h3 class="mx-auto">{{ story.name }}</h3></v-card-title>
            <v-card-text v-if="story.content.tags.tags.length > 0">
              <v-chip v-for="(tag, i) in story.content.tags.tags" :key="story.uuid + i">{{ tag }}</v-chip>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script src="./class"></script>