<template>
  <section>
    <component
      v-for="item in blok.blocks"
      :key="item._uid"
      v-if="item.component"
      :blok="item"
      :is="item.component" />
  </section>
</template>

<script src="./class.js"></script>