<template>
  <v-app :dark="$store.state.theme">
    <v-navigation-drawer
      :mini-variant="miniVariant && $vuetify.breakpoint.lgAndUp"
      :clipped="$vuetify.breakpoint.lgAndUp"
      v-model="drawer"
      mobile-break-point="1000000"
      fixed
      app>
      <no-ssr>
        <v-toolbar
          extract
          v-if="!$vuetify.breakpoint.lgAndUp"
          dark>
          <v-toolbar-side-icon @click="drawerShown = !drawerShown"></v-toolbar-side-icon>
          <v-toolbar-title>{{ title }}</v-toolbar-title>
        </v-toolbar>
      </no-ssr>
      <v-list>
        <v-list-tile
          router
          :to="$store.getters.link(item.to)"
          :key="item._uid"
          v-for="item in items"
          exact
        >
          <v-list-tile-action v-if="item.icon.name">
            <v-icon v-html="item.icon.name"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.label"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="$vuetify.breakpoint.lgAndUp" @click="miniVariant = !miniVariant">
          <v-list-tile-action>
            <v-icon v-html="`chevron_${miniVariant ? 'right' : 'left'}`" />
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>折りたたむ</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed app :clipped-left="$vuetify.breakpoint.lgAndUp" dark>
      <no-ssr>
        <v-toolbar-side-icon @click="drawer = !drawer" />
      </no-ssr>
      <v-toolbar-title>{{ title }}</v-toolbar-title>
      <v-spacer />
      <v-menu
        v-if="$store.state.notifications.length > 0"
        :close-on-content-click="true">
        <v-badge slot="activator" overlap color="accent">
          <span slot="badge">{{ $store.state.notifications.length }}</span>
          <v-icon>notifications</v-icon>
        </v-badge>
        <v-list light>
          <v-list-tile
            v-for="(notice, i) in $store.state.notifications"
            v-if="notice.type !== 'success'"
            :key="i">
            <v-list-tile-content>
              <v-list-tile-title>{{ notice.text }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action @click="$store.commit('removeNoticeAt', i)"><v-icon light>close</v-icon></v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-menu>
      <no-ssr>
        <v-menu bottom left>
          <v-btn slot="activator" icon>
            <v-icon>person</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile v-for="(item, i) in secureMenu" :key="i" v-bind="item" v-on="item.on">
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </no-ssr>
    </v-toolbar>
    <v-content>
      <nuxt />
    </v-content>
    <v-footer app>
      <span>&copy; 2017</span>
    </v-footer>

    <v-snackbar
      v-if="notice"
      top right
      :timeout="6000"
      :multi-line="$vuetify.breakpoint.smAndDown"
      :color="notice.type"
      v-model="snackbar">
      {{ notice.text }
      }<v-btn dark flat icon @click.native="closeSnackbar">
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>
  </v-app>
</template>

<script src="./default"></script>
