<template>
  <v-container>
    <v-layout
      column
      wrap
      class="my-5"
      align-center >
      <v-flex xs12 sm4 class="my-3">
        <div class="text-xs-center">
          <h2 class="headline">{{ blok.heading }}</h2>
          <span class="subheading">{{ blok.description }}</span>
        </div>
      </v-flex>
      <v-flex xs12>
        <v-container grid-list-xl>
          <v-layout row wrap align-center>
            <components
              v-for="(col, i) in blok.columns"
              :flexInfo="[blok.columns.length, i]"
              :key="col._uid"
              :blok="col"
              :is="col.component" />
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script src="./class"></script>
